- var num = [{num : '50', title : 'теорий', text : 'среди клиентов', more : 1},{num : '30', title : 'стран мира', text : 'охвачены нами', more : 1},{num : '15', title : 'лет', text : 'в отрасли'},{num : '1', title : 'день', text : 'на создание имиджа'}]
- var icons = [{img : "channels-1.svg", txt : "Язык образов"},{img : "channels-2.svg", txt : "Мобильная реклама"},{img : "channels-3.svg", txt : "Веб-аналитика"},{img : "channels-4.svg", txt : "Видео-реклама"},{img : "channels-5.svg", txt : "Ретаргетинг"},{img : "channels-6.svg", txt : "Прайс-агрегаторы"},{img : "channels-7.svg", txt : "Поисковая оптимизация"},{img : "channels-8.svg", txt : "Таргетированная реклама в социальных сетях"},{img : "channels-3.svg", txt : "Веб-аналитика"},{img : "channels-4.svg", txt : "Видео-реклама"},{img : "channels-5.svg", txt : "Ретаргетинг"},{img : "channels-6.svg", txt : "Прайс-агрегаторы"},{img : "channels-7.svg", txt : "Поисковая оптимизация"},{img : "channels-8.svg", txt : "Таргетированная реклама в социальных сетях"},{img : "channels-9.svg", txt : "Медийная реклама и программатик-закупки"}]

section.great(data-id="1")
	.container
		.row
			.col-md-10
				h1.great__title.title
					span
						| Выдающийся&nbsp;
						br
						| имидж: гипотезы и теории&nbsp;
						br.hidden-xs
						| глазами&nbsp;
					a(href="javscript:void(0)")
						span современников
		.row
			.col-sm-6.col-md-4.great__text
				p
					| Повышение жизненных стандартов
					| неестественно экономит селлинг.
					a.quest(href="javascript:void(0)") ?
				p
					| Несмотря на сложности, рекламное
					| сообщество синхронизирует бренд.

		.row.great__numbers
			.col-sm-6
				.row.num
					for item, index in num
						.col-xs-6
							div(class="num__item num__item_"+index)
								.num-item__num
									h3= item.num
										if item.more == 1
											span +
										span.num-item__title= item.title
								.num-item__text= item.text
		.track
			img(src="img/great/track_lg.svg")

section.why(data-id="2")
	.container
		.row
			.col-lg-6
				.why__text.row
					.col-md-7.col-lg-12
						h2.title
							| Почему
							br.visible-lg
							| поразительно&nbsp;
							span стратегическое планирование
					.col-md-5.col-lg-12
						p Согласно последним исследованиям, вероятностная логика актаульна как никогда. SWOT-анализ, по определению, детерминирует типичный бренд, повышая конкуренцию.
			.col-lg-6
				.why__icons
					div.slide
						.icon__item
							.icon-item__img
								img(src="img/icon/channels-1.svg")
							.icon-item__text Язык образов
						.icon__item
							.icon-item__img
								img(src="img/icon/channels-2.svg")
							.icon-item__text Мобильная реклама
						.icon__item
							.icon-item__img
								img(src="img/icon/channels-3.svg")
							.icon-item__text Веб-аналитика
					div.slide
						.icon__item
							.icon-item__img
								img(src="img/icon/channels-4.svg")
							.icon-item__text Видео-реклама
						.icon__item
							.icon-item__img
								img(src="img/icon/channels-5.svg")
							.icon-item__text Ретаргетинг
						.icon__item
							.icon-item__img
								img(src="img/icon/channels-6.svg")
							.icon-item__text Прайс-агрегаторы
					div.slide
						.icon__item
							.icon-item__img
								img(src="img/icon/channels-7.svg")
							.icon-item__text Поисковая оптимизация
						.icon__item
							.icon-item__img
								img(src="img/icon/channels-8.svg")
							.icon-item__text Таргетированная реклама в социальных сетях
						.icon__item
							.icon-item__img
								img(src="img/icon/channels-9.svg")
							.icon-item__text Медийная реклама и программатик-закупки
