head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Title
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic")
	link(rel="stylesheet", href="./css/styles_gorgy.min.css")