- var menu = ["Агентство", "услуги", "отраслевая экспертиза", "блог", "контакты"]

.header__slick
header.header
	.container
		.row
			.col-md-2.logo
				button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#main-menu" aria-expanded="false")
					i.fa.fa-bars
				a.header__logo(href="javascript:void(0)") Vozduh
			#main-menu.navbar-collapse.collapse(aria-expanded="false")
				.col-md-9.col-lg-7.col-lg-offset-2
					nav.header__menu
						ul.nav.nav_main.inline-list
							for item in menu
								li
									a(href="javascript:void(0)")= item
				.col-md-1
					nav.header__lang
						ul.nav.nav_lang.inline-list
							li
								a(href="javascript:void(0)") Рус
							li
								a(href="javascript:void(0)") En