/*======================================================================*\
|| #################################################################### ||
|| # Just sugar.                                                      # ||
|| #################################################################### ||
\*======================================================================*/

ma( $m = 0 )
  margin $m auto;


background-layer( $color = alpha(#000, 0.5) )
	position relative

	&:before
		content          : ' '
		display          : block !important
		background-color : $color
		square(100%)
		abs(0, 0, 0, 0)


image-scale( $scale = 1.1, $duration = 500ms, $timing-function = linear )
	display block;
	position relative;
	overflow hidden;

	> img
		transition( $duration $timing-function )

	&:hover > img
		scale($scale)


fz($sizePX)
	sizeREM ($sizePX / $fz-num)
	font-size ($sizeREM)rem

// Snippets of reusable CSS to develop faster and keep code readable
// -----------------------------------------------------------------


// UTILITY MIXINS
// --------------------------------------------------

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
clearfix
	//*zoom 1

	&:before,
	&:after
		display table
		content ""
	&:after
		clear: both

// Webkit-style focus
// ------------------
tab-focus()
	// Default
	outline thin dotted #333
	// Webkit
	outline 5px auto -webkit-focus-ring-color
	outline-offset -2px

// Center-align a block level element
// ----------------------------------
center-block()
	display block
	margin-left auto
	margin-right auto

// Sizing shortcuts
// -------------------------
size($width, $height)
	width $width
	height $height
	
square($size)
	size($size, $size)



// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
text-overflow()
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;


// CSS image replacement
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
hide-text()
	font-size : 0;
	line-height : 0;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;



// FORMS
// --------------------------------------------------

// Block level inputs
input-block-level()
	display : block;
	width : 100%;
	min-height : 28px;        // Make inputs at least the height of their button counterpart
	box-sizing : border-box; // Makes inputs behave like true block-level elements
