/*======================================================================*\
|| #################################################################### ||
|| # Файл fonts.styl                                                  # ||
|| # Здесь хранятся стили для шрифтов.                                # ||
|| #################################################################### ||
\*======================================================================*/
@font-face {
	font-family : 'DidactGothic';
	src : url( $path-fonts + '/DidactGothic/didactgothic-regular-webfont.eot');
	src : url( $path-fonts + '/DidactGothic/didactgothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
		  url( $path-fonts + '/DidactGothic/didactgothic-regular-webfont.woff2') format('woff2'),
		  url( $path-fonts + '/DidactGothic/didactgothic-regular-webfont.woff') format('woff'),
		  url( $path-fonts + '/DidactGothic/didactgothic-regular-webfont.ttf') format('truetype'),
		  url( $path-fonts + '/DidactGothic/didactgothic-regular-webfont.svg#didact_gothicregular') format('svg');
	font-weight : normal;
	font-style : normal;
}

@font-face {
	font-family: 'GothamPro';
	src: url( $path-fonts + '/GothamPro/GothamProBlack/GothamProBlack.eot');
	src: local('☺'),
			url( $path-fonts + '/GothamPro/GothamProBlack/GothamProBlack.woff') format('woff'),
			url( $path-fonts + '/GothamPro/GothamProBlack/GothamProBlack.ttf') format('truetype'),
			url( $path-fonts + '/GothamPro/GothamProBlack/GothamProBlack.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro';
	src: url( $path-fonts + '/GothamPro/GothamProBlackItalic/GothamProBlackItalic.eot');
	src: local('☺'),
			url( $path-fonts + '/GothamPro/GothamProBlackItalic/GothamProBlackItalic.woff') format('woff'),
			url( $path-fonts + '/GothamPro/GothamProBlackItalic/GothamProBlackItalic.ttf') format('truetype'),
			url( $path-fonts + '/GothamPro/GothamProBlackItalic/GothamProBlackItalic.svg') format('svg');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'GothamPro';
	src: url( $path-fonts + '/GothamPro/GothamProBold/GothamProBold.eot');
	src: local('☺'),
			url( $path-fonts + '/GothamPro/GothamProBold/GothamProBold.woff') format('woff'),
			url( $path-fonts + '/GothamPro/GothamProBold/GothamProBold.ttf') format('truetype'),
			url( $path-fonts + '/GothamPro/GothamProBold/GothamProBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro';
	src: url( $path-fonts + '/GothamPro/GothamProBoldItalic/GothamProBoldItalic.eot');
	src: local('☺'),
			url( $path-fonts + '/GothamPro/GothamProBoldItalic/GothamProBoldItalic.woff') format('woff'),
			url( $path-fonts + '/GothamPro/GothamProBoldItalic/GothamProBoldItalic.ttf') format('truetype'),
			url( $path-fonts + '/GothamPro/GothamProBoldItalic/GothamProBoldItalic.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'GothamPro';
	src: url( $path-fonts + '/GothamPro/GothamProLight/GothamProLight.eot');
	src: local('☺'),
			url( $path-fonts + '/GothamPro/GothamProLight/GothamProLight.woff') format('woff'),
			url( $path-fonts + '/GothamPro/GothamProLight/GothamProLight.ttf') format('truetype'),
			url( $path-fonts + '/GothamPro/GothamProLight/GothamProLight.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro';
	src: url( $path-fonts + '/GothamPro/GothamProLightItalic/GothamProLightItalic.eot');
	src: local('☺'),
			url( $path-fonts + '/GothamPro/GothamProLightItalic/GothamProLightItalic.woff') format('woff'),
			url( $path-fonts + '/GothamPro/GothamProLightItalic/GothamProLightItalic.ttf') format('truetype'),
			url( $path-fonts + '/GothamPro/GothamProLightItalic/GothamProLightItalic.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'GothamPro';
	src: url( $path-fonts + '/GothamPro/GothamProMedium/GothamProMedium.eot');
	src: local('☺'),
			url( $path-fonts + '/GothamPro/GothamProMedium/GothamProMedium.woff') format('woff'),
			url( $path-fonts + '/GothamPro/GothamProMedium/GothamProMedium.ttf') format('truetype'),
			url( $path-fonts + '/GothamPro/GothamProMedium/GothamProMedium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro';
	src: url( $path-fonts + '/GothamPro/GothamProMediumItalic/GothamProMediumItalic.eot');
	src: local('☺'),
			url( $path-fonts + '/GothamPro/GothamProMediumItalic/GothamProMediumItalic.woff') format('woff'),
			url( $path-fonts + '/GothamPro/GothamProMediumItalic/GothamProMediumItalic.ttf') format('truetype'),
			url( $path-fonts + '/GothamPro/GothamProMediumItalic/GothamProMediumItalic.svg') format('svg');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'GothamPro';
	src: url( $path-fonts + '/GothamPro/GothamProRegular/GothamProRegular.eot');
	src: local('☺'),
			url( $path-fonts + '/GothamPro/GothamProRegular/GothamProRegular.woff') format('woff'),
			url( $path-fonts + '/GothamPro/GothamProRegular/GothamProRegular.ttf') format('truetype'),
			url( $path-fonts + '/GothamPro/GothamProRegular/GothamProRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GothamPro';
	src: url( $path-fonts + '/GothamPro/GothamProItalic/GothamProItalic.eot');
	src: local('☺'),
			url( $path-fonts + '/GothamPro/GothamProItalic/GothamProItalic.woff') format('woff'),
			url( $path-fonts + '/GothamPro/GothamProItalic/GothamProItalic.ttf') format('truetype'),
			url( $path-fonts + '/GothamPro/GothamProItalic/GothamProItalic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}