/*======================================================================*\
|| #################################################################### ||
|| # Файл global.styl                                                 # ||
|| # Здесь хранятся глобальные настройки.                             # ||
|| #################################################################### ||
\*======================================================================*/

// Фикс для ie, который не понимает правильно viewport
@-ms-viewport
	width : auto;

*
	outline: none !important;
	box-sizing: border-box;

body
	line-height : 1;

//ol, ul
	//list-style : none;

blockquote
q
	quotes : none;

blockquote:before
blockquote:after
q:before
q:after
	content : ''

table
	border-collapse : collapse;
	border-spacing  : 0;

html
	background-color : $body-bg;
	font-size: $fz-g;
	height : 100%;
	min-height :100%;

body
	font            : $fz-g/1.25 $ff-g;
	margin          : 0;
	//background      : $body-bg;
	//color           : $body-color;
	height: 3000em;
	min-height: 100%;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;

.title
	font-family : $ff-1

.clearfix
	clearfix();

input
textarea
select
button
	font-family: $ff-g


/*
	Красивый клик START
*/
.js-click
	transition all .3s ease
	transform: scale(1) translateZ(0)
	user-select: none;
	will-change: transform;
	display: inline-block;
	&.click-in
		transition: all .3s ease
		transform scale(.95)
//
// ==========================================
// Вспомогательные классы
// ==========================================
.p0
	padding: 0
.p5
	padding: 5px
.ph5
	padding: 5px 0
.pv5
	padding: 0 5px
.p15
	padding: 15px
.ph15
	padding: 15px 0
.pv15
	padding: 0 15px

.mt0
	margin-top: 0
.mb0
	margin-bottom: 0

.row
	&.m-5
		margin-left: -5px
		margin-right: -5px

.inline-list
	font-size : 0
	line-height : 0
	letter-spacing : -1px
	> *
		font-size : $fz-g
		line-height : normal
		letter-spacing : normal
		display : inline-block
		z-index : 1

.quest
	background-color : $brand-second
	font-size : 12px
	color : $cf
	text-decoration : none
	text-align : center
	border-radius : 50%
	&:hover
	&:active
	&:focus
		color : $cf
		text-decoration : none

