/*======================================================================*\
|| #################################################################### ||
|| # Файл header.styl                                                 # ||
|| # Здесь хранятся стили для шапки сайта.                            # ||
|| #################################################################### ||
\*======================================================================*/
.header
	padding : 2px 0
	transition : .3s ease
	position : fixed
	coords(0,0,auto,0)
	z-index : 9
	&.inverse
	&.open
		background-color : #0d0d5b
	@media (min-width $screen-sm-min)
		padding : 20px 0
		&.inverse
			padding : 12px 0

	.container
		@media (max-width $screen-md-max)
			width : 100%
	.navbar-toggle
		abs(50%,auto,auto,0)
		transform: translate(0, -50%)
		color : $cf
		margin : 0
		font-size : 25px

	.logo
		text-align : center
		@media (min-width $screen-md-min)
			text-align : left

	&__logo
		display : inline-block
		text-transform : uppercase
		color : $cf
		text-decoration : none
		font-size : 20px
		font-weight : 700
		padding-top : 5px
		padding-bottom : 5px
		&:hover
		&:focus
		&:active
			color : $cf
			text-decoration : none

	&__menu
	&__lang
		li
			white-space nowrap
			a
				color : $cf
				text-decoration : none
				text-transform : uppercase
				font-weight : 700
				font-size : 12px
				background-color : transparent
				&:hover
				&:focus
				&:active
					color : $cf
					text-decoration : none
					background-color : transparent
				&:hover
					text-decoration : underline

	&__menu
		text-align : center
		@media (min-width $screen-md-min)
			text-align : right
		li
			@media (min-width $screen-md-min)
				display : inline-block
			a
				padding : 10px 13px 10px 28px

	&__lang
		text-align : center
		@media (min-width $screen-md-min)
			border-left : 2px solid $cf
			margin-top : 4px
			text-align : right
		ul
			white-space nowrap
		li
			display : inline-block
			width : 50%
			@media (min-width $screen-md-min)
				width : auto
			a
				padding : 6px 9px
				font-weight : 400
			&:last-child
				a
					padding-right : 0
	&__slick
		abs(0,0,auto,0)