/*======================================================================*\
|| #################################################################### ||
|| # Файл home-wrapper.styl                                           # ||
|| # Здесь хранятся стили для главной страницы.                       # ||
|| #################################################################### ||
\*======================================================================*/
.great
	color : $cf
	overflow-x hidden

	.container
		position : relative
		> *
			position : relative
			z-index : 2

	.track
		z-index : 1
		position : absolute
		coords(-1%, -41%)
		width : 120%
		opacity : .2
		img
			max-width : 100%
		@media (min-width $screen-sm-min)
			coords(10%, -45%)
			opacity : 1
			width : auto
			img
				max-width : 74%
		@media (min-width $screen-md-min)
			coords(15%, -28%)
			img
				max-width : 90%
		@media (min-width $screen-lg-min)
			coords(8%, -13%)
			img
				max-width : 100%

	&__title
		font-size : 28px
		position : relative
		margin: 19px 0 20px;
		line-height: 1.2;
		@media (min-width $screen-sm-min)
			font-size : 34px
			margin: 0 0 20px
			line-height: 1.07
		@media (min-width $screen-md-min)
			font-size : 60px

		span
			position : relative
			z-index : 2

		a
			color : $cf
			text-decoration : none
			position : relative
			z-index : 1
			display : inline-block
			@media (min-width $screen-md-min)
				display : inline
			&:focus
			&:active
			&:hover
				text-decoration : none
				color : $cf
			span
				position : relative
				border-bottom : 2px dotted $cf
			&:before
				content ''
				background : embedurl( $path-img + '/great/title_link.svg' ) 50% 50% no-repeat
				transform translate(50%,-50%)
				abs(50%,50%)
				background-size : contain
				z-index : 1
				size(167px,58px)
				@media (min-width $screen-md-min)
					size(341px,118px)
	&__text
		position : relative
		z-index : 1
		p
			font-size : 16px
			line-height : 1.5
			margin-bottom : 10px
			@media (min-width $screen-sm-min)
				font-size : 18px
			@media (min-width $screen-lg-min)
				font-size : 20px
			a
				margin-left : 10px
				display : inline-block
				square(16px)
				line-height : @height
	&__numbers
		position : relative
		margin-top : -17px
		@media (min-width $screen-sm-min){
			margin-top : 0
		}

.num
	&__item
		position : relative
		padding : 15px 0
		margin-bottom : 3px
		&_2
		&_3
			.num-item__num
				padding-bottom : 0
				&:before
					abs(10px,auto,auto,-5px)
					@media (min-width $screen-sm-min)
						right : -10px
				h3
					span.num-item__title
						font-size : 22px
						display : inline
		&_0
			.num-item__num:before
				background-image : embedurl( $path-img + '/great/num__item_0.svg' )
				size(80px,65px)
				@media (min-width $screen-sm-min)
					size(113px,92px)
		&_1
			.num-item__num:before
				background-image : embedurl( $path-img + '/great/num__item_1.svg' )
				size(78px,61px)
				@media (min-width $screen-sm-min)
					size(109px,85px)
		&_2
			.num-item__num:before
				background-image : embedurl( $path-img + '/great/num__item_2.svg' )
				size(60px,49px)
				@media (min-width $screen-sm-min)
					size(68px,57px)
		&_3
			.num-item__num:before
				background-image : embedurl( $path-img + '/great/num__item_3.svg' )
				size(48px,46px)
				@media (min-width $screen-sm-min)
					size(60px,59px)
	&-item
		&__num
			position : relative
			padding : 13px 0 6px
			color : $cf
			&:before
				content ''
				background-size : contain
				background-position : 0 0
				background-repeat : no-repeat
				abs(5px,auto,auto,-10px)
				@media (min-width $screen-sm-min)
					right : -15px
			h3
				position : relative
				font-weight : 700
				margin : 0
				font-size : 40px
				@media (min-width $screen-sm-min)
					font-size : 48px
				span
					font-size : 26px
					@media (min-width $screen-sm-min)
						font-size : 38px
					&.num-item__title
						display : block
						font-weight : 700
						font-size : 18px
						@media (min-width $screen-sm-min)
							font-size : 20px
		&__text
			font-size : 16px

.why
	margin-top : 63px
	padding-bottom : 5rem
	@media (min-width $screen-sm-min)
		margin-top : 95px
	&__text
		> *
			position : relative
		h2
			color : $cf
			font-size : 24px
			line-height : 1.35
			margin-top : 25px
			margin-bottom : 20px
			@media (min-width $screen-sm-min)
				font-size : 40px
				line-height : 1.035
			@media (min-width $screen-md-min)
				font-size : 50px
			@media (min-width $screen-lg-min)
				font-size : 56px
			span
				color : $brand-second
				display : block
		p
			font-size : 16px
			line-height : 1.5
			@media (min-width $screen-sm-min)
				font-size : 18px
			@media (min-width $screen-lg-min)
				max-width : 68%
				font-size : 20px
				line-height : 1.6
		&:before
			content ''
			abs(56%,auto,auto,20px)
			transform translate(0,-50%)
			background embedurl( $path-img + '/icon/text.svg' ) 0 0 no-repeat
			background-size : contain
			size(313px,253px)
			@media (min-width $screen-lg-min)
				size(632px,505px)
				abs(56%,60%)
				transform translate(50%,-50%)

	&__icons
		margin-top: 20px;
		@media (min-width $screen-sm-min)
			margin-left : -10px
			margin-right : -10px

		.slide
			display : block
			padding-left : 10px
			padding-right : 10px
			@media (max-width $screen-xs-max)
				&:after
					content ''
					display : block
					height : 0
					line-height : 0
					clear both
			@media (min-width $screen-sm-min)
				margin-left : -10px
				margin-right : -10px
			@media (min-width $screen-lg-min)
				margin-left : -20px
		.icon__item
			min-height : 70px
			display : flex
			padding-left : 10px
			padding-right : 10px
			@media (min-width $screen-sm-min)
				min-height : 105px
				width : 50%
				float : left
			@media (min-width $screen-md-min)
				width : 33.3334%
			@media (min-width $screen-lg-min)
				width : 50%
		.icon-item
			&__img
				margin-right : 15px
				flex 0 0 auto
				img
					width : 50px
					height : auto
					@media (min-width: $screen-sm-min)
						width : 60px
					@media (min-width: $screen-md-min)
						width : 75px
			&__text
				font-size : 16px
				line-height : 1.3
				color : $cf
				padding-top : 15px
				@media (min-width $screen-sm-min)
					padding-top : 20px
				@media (min-width $screen-md-min)
					font-size : 18px
					padding-top : 26px
		.owl-dots
			text-align : center
			position : relative
			top : -4px
			.owl-dot
				padding : 2px
				display : inline-block
				span
					display : block
					square(5px)
					border-radius : 50%
					background-color : $cf
				&.active
					span
						background-color : $brand-second
		.owl-nav
			.owl-prev
				abs(40%,auto,auto,0)
				transform translate(0,-50%)
				transition .2s ease
				&:hover
					background-color : $brand-second
			.owl-next
				abs(40%,0)
				transform translate(0,-50%)
				transition .2s ease
				&:hover
					background-color : $brand-second
.wrapper
	position : relative
	.content
		position : relative
		z-index : 2
	.bg
		position : fixed
		z-index : 1
		coords(0,0,0,0)
		&__data
			abs(0,0,0,0)
			opacity : 0
			transition opacity .75s ease-out
			&_1
				background : linear-gradient(to bottom, #266aa0, #081f73);
			&_2
				background : linear-gradient(to bottom, #FF512F, #FF512F);